.App{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    background-color: #f5f5f5;
    padding: 50px;
    box-shadow: 5.0px 10.1px 10.1px hsl(0deg 0% 0% / 0.34);
}